 @font-face {
    font-family: 'w95Font';
    src: url('https://cdn.jsdelivr.net/gh/stop-error/stoperror-site@latest/fonts/w95font.woff2') format('woff2');
    }


@font-face {
    font-family: 'w95Font-bold';
    src: url('https://cdn.jsdelivr.net/gh/stop-error/stoperror-site@latest/fonts/w95font-bold.woff2') format('woff2');
    }


.navbar {
    font-family: w95font;
    color: white; 
    background-color: #000000; 
}

/* .navbar-brand {
    font-family: Libre Franklin; 
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    font-size: 1.5rem;
    filter: contrast(70%);
} */

.navbar-brand {
    font-family: w95font-bold;
    font-size: 1.5rem;
}