body {
  background-color: #040382 !important; 
  width: 100%; 
  height: 100%;
}

h1 {
    font-family: w95font-bold;
    color: white; 
}

h3 {
    font-family: w95font-bold;
    color: white; 
}

h4 {
    font-family: w95font-bold;
    color: white; 
}

p {
    font-family: w95font;
    color: white; 
}