.navbar {
    font-family: w95font;
    color: white; 
    background-color: #000000;
}

/* .navbar-brand {
    font-family: Libre Franklin; 
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    font-size: 1.5rem;
    filter: contrast(70%);
} */

.navbar-brand {
    font-family: w95font-bold;
    font-size: 1.5rem;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    color: #fdfd2c;
}


.navbar-nav .active a { 
    color: #fdfd2c !important; 
}